body{
    background-image: url(/images/movie-collage-wallpaper-preview\ new.jpg); /*download the image and link*/
    background-size: 800px;
    background-color: white; /*temporary*/

}
/* .net{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
} */
.container{
    background-color: #333;
    margin-top: 2%;
    margin-bottom: 10%; 
    margin-right: 200px;
    margin-left: 400px;
    max-height: 350px;
    max-width: 450px;
    border: black;
    padding-top: 2%;
    padding-bottom: 15%;
    opacity: 0.9;
}
.net{
    max-height: 2px;
    max-width: 1px;
    cursor: pointer;
    margin-bottom: 0%;
    padding-bottom: 8%;
    padding-top: 0%;
   
}
.fb{
    width: 20px;
    height: 10;
    float: inline-start;
}
.h3{
    font-size:40px ;
    color: white;
    /* margin-left: 100px; */
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top:0px;
    margin-bottom:5%;
    padding-top:2%;
    padding-bottom: 2%;
    
}
.content{
    margin-left: 80px;
}
#email{
    width: 80%;
    height: 60%;
    font-size: 15px;
    box-shadow: peru;
    box-sizing: border-box 40px;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
    border-radius: 5px;
}
.content>button{
    width: 80%;
    height: 60%;
    font-size: 15px;
    box-shadow: peru;
    box-sizing: border-box 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    /* display: inline; */
}
#help{
    float: right;
    margin-right: 30%;
}
.buttom{
    margin-left: 80px;
    /* margin-top: 50px; */
    /* margin-bottom:80px ; */
    padding: 5px 5px 5px 5px;
    
    
}
/* #check{
    width: 40px;
} */
.p1{
    /* float: inline-end; */
    color: white;
    opacity: 50%;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 0%;
}
#help{
    color: white;
    opacity: 50%;
    float: right;
    margin-right: 20%;
    font-family:Arial, Helvetica, sans-serif;

}
.R1{
    color: white;
    opacity: 50%;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: px;
}
#c1{
    margin-bottom:0px ; 
    margin-top: 5px;
    text-align:justify; 
    padding-right: 45px;
    word-spacing: -2.4555px;
}
#sign{
    opacity: 100%;
}
.me{
    color: #0071eb;
    opacity: 100%;
}
#check{
    float: inline-start;
    /* box-sizing: border-box 40px; */
    max-width: -30%;
    max-height: -30%;

}
/* #c1{
    word-spacing: 50%;
} */